//- [injector:jademixins]
//- [endinjector]
doctype html
html
  head
    title=yaml.basics.meta.title
    meta(charset='UTF-8')
    meta(content='3 days', name='revisit-after')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")

    block head

    link(href='#{path}0_basics/main.css', rel='stylesheet')
    if level == 0
      // build:css(bower_components) 0_basics/vendor.css
    else if level == 1
      // build:css(bower_components) ../0_basics/vendor.css
    else
      // build:css(bower_components) ../../0_basics/vendor.css
    // bower:css
    // endbower
    // endbuild


  body(class=page)

    block content

    if level == 0
      // build:js({.,.tmp,bower_components}) 0_basics/controller.js
    else if level == 1
      // build:js({.,.tmp,bower_components}) ../0_basics/controller.js
    else
      // build:js({.,.tmp,bower_components}) ../../0_basics/controller.js

    // [injector:js]
    // [endinjector]

    script(src='/0_basics/controller.js')
    // endbuild


